@(title: String, headerEnabled: Boolean = true)(content: Html)

<html>
<head>
    <title>@if(!title.isEmpty){@title - }Gubbns</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css'>
    <link rel='stylesheet' href='@routes.Assets.at("css/main.min.css")'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
@if(headerEnabled) {@header()}
<div class="container">
@content
</div>

@analytics()
</body>
</html>
